<div>
    <div style="display: flex;">    
        <img class="mb-4" src="https://placekitten.com/200/200" alt="User Profile Picture"
        style="width: 100px; height: 100px; border-radius: 50%;margin-right: 24px;">
        <div>
            <h3><%= resume.personalInfo.name %></h3>
            <div><%= resume.personalInfo.email %></div>            
        </div>
    </div>    
    <div class="mb-2"><%= isCandidate ? "Application Status" : "Status" %></div>
    <div class="mb-4 <%= resume.user.approved ? 'approved' : 'not-approved' %> <%= isCandidate ? 'hidden' : '' %>"><%= resume.user.approved ? "Approved" : "Not Approved" %></div>
    <% if (!resume.user.approved && !isCandidate) { %>
        <div class="user-actions col-md-5 col-lg-3 mb-4">
            <button class="btn-decline" data-bs-toggle="modal" data-bs-target="#declineModal" onclick="setUserId('<%= resume.user._id %>')">Decline</button>
            <button class="btn-approve" onclick="approveUser('<%= resume.user._id %>')">Approve</button>
        </div>
    <% } %>
    <% if (isCandidate) { %>
        <div class="mb-4 details <%= isCandidate ? '' : 'hidden' %>" >
            <select class="form-select" name="status" id="status">
                <option value=""> - Select Status - </option>
                <option value="For Interview (HR)" <%= appStatus === 'InterviewHR' ? 'selected' : '' %>>For Interview (HR)</option>
                <option value="For Interview (Technical)" <%= appStatus === 'InterviewTechnical' ? 'selected' : '' %>>For Interview (Technical)</option>
                <option value="For Interview (Management)" <%= appStatus === 'InterviewManagement' ? 'selected' : '' %>>For Interview (Management)</option>                
                <option value="For Background Check" <%= appStatus === 'BackgroundCheck' ? 'selected' : '' %>>For Background Check</option>
                <option value="Job Offer Accepted" <%= appStatus === 'JOAccepted' ? 'selected' : '' %>>Job Offer Accepted</option>
                <option value="Passed (For Job Offer)" <%= appStatus === 'PassedJO' ? 'selected' : '' %>>Passed (For Job Offer)</option>
                <option value="Refused" <%= appStatus === 'Refused' ? 'selected' : '' %>>Refused</option>
                <option value="Shortlisted" <%= appStatus === 'Shortlisted' ? 'selected' : '' %>>Shortlisted</option>
            </select>
        </div>
    <% } %>
    <div class="mb-2">Skills</div>
    <div class="mb-4">
        <% resume.skills.forEach(skill=> { %>
            <span class="badge">
                <%= skill.name %>
                    <%= skill.status ? "(Verified)" : "" %>
            </span>
        <% }); %>
    </div>
    <div class="mb-2">Education</div>
    <div class="details mb-4">
    <% const educationItems=resume.educationExperiences.filter(item=> item.type ===
        'Education');
        educationItems.forEach(item => {
        %>
        <div>                                    
            <strong><%= item.title %></strong>                                    
            <div><%= item.institution %></div>
            <div><%= item.start %> - <%= item.end %></div>                                    
            <div>
            <% if (item.description) { %>                                        
                <%= item.description %>                                        
            <% } %>
            </div>
        </div>
    <% }); %>
    </div>

    <div class="mb-2">Experience</div>
    <div class="details mb-4">
        <% const experienceItems=resume.educationExperiences.filter(item=> item.type ===
            'Experience');
            experienceItems.forEach(item => {
            %>
            <div>                                        
                <strong><%= item.title %></strong>                                        
                <div><%= item.institution %></div>
                <div><%= item.start %> - <%= item.end %></div>
                <div>
                <% if (item.description) { %>                                        
                    <%= item.description %>                                            
                <% } %>
                </div>
            </div>
        <% }); %>
    </div>
</div>        