<!DOCTYPE html>
<html>
<head>
    <title>Jobs List</title>
    <!-- Add your CSS links here -->    
    <%- include('../partials/css') %>
    <style>
        .badge {
            padding: 5px 20px;
            border-radius: 30px;
            background-color: #3D7A9C;
            font-size:16px;
        }
        .details {
            border-radius: 8px;
            background-color: #F5F5F5;
            padding: 8px 10px;
        }
        .not-approved {
            color: rgb(241, 76, 76);
        }
        .approved {
            color: green;
        }        
    </style>
</head>
<body>
    <!-- Include the left navigation -->
    <%- include('../partials/companyLeftNavigation') %>
    <div class="right-content col-lg-8">
        <div class="header-container">
            <h1>Candidate Profile - Applied to "<%= jobTitle %>"</h1>
        </div>
        <div class="job-container row mt-4">
            <%- include('../partials/userProfile') %>
        </div>
        <button class="chat-button float" onclick="window.location.href='/company/chat/<%= companyId %>/<%= userId %>'"><ion-icon name="chatbubbles-outline" style="font-size: 24px;margin-right: 6px;"></ion-icon>Chat Candidate</button>
    </div>
    <%- include('../partials/javascript') %>
    <%- include('../partials/approveUser') %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const statusDropdown = document.getElementById('status');
            const applicationId = '<%= applicationId %>'; // Replace this with the actual application ID. Perhaps from a data-attribute on the dropdown?

            statusDropdown.addEventListener('change', function() {
                const selectedStatus = this.value;

                fetch(`/company/job/update-application-status/${applicationId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        status: selectedStatus
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                })
                .catch(error => {
                    console.error('Error updating application status js:', error);
                });
            });
        });
    </script>    
</body>
</html>
