<!DOCTYPE html>
<html>
<head>
    <title>Candidates for Job</title>    
    <!-- Add your CSS links here -->    
    <%- include('../partials/css') %>
    <style>
        .badge {
            padding: 5px 8px;
            border-radius: 30px;
            background-color: #3D7A9C;
            font-size:10px;
        }        
    </style>
</head>
<body>
    <!-- Include the left navigation -->
    <%- include('../partials/companyLeftNavigation') %>    
    <div class="right-content">    
        <h1>Candidates who applied for the job</h1>
        <div>Job Posting: <b><%= jobTitle %></b></div>
        <div class="job-container row">
            <% candidates.forEach(candidate => { %>
                <div class="job-box col-md-4 col-sm-6 col-lg-2 col-12 ">
                    <h5><a href="/company/job/candidate/<%= candidate._id %>/profile"><%= candidate.name %></a></h5>                    
                    <p><ion-icon name="mail"></ion-icon><%= candidate.email %></p>                    
                    <div>
                    <% candidate.skills.forEach(skill => { %>
                        <span class="badge"><%= skill.name %></span> 
                    <% }); %>
                    </div>                    
                </div>
            <% }); %>
        </div>
    </div>
    <%- include('../partials/javascript') %>
</body>
</html>
