<!DOCTYPE html>
<html>

<head>
    <title>Jobs List</title>
    <!-- Add your CSS links here -->
    <%- include('../partials/css') %>
</head>

<body>
    <!-- Include the left navigation -->
    <%- include('../partials/adminNavbar') %>
        <div class="container">
        <div class="container mt-4 mb-3">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h3>Dashboard</h3>
                </div>
                <div class="col-auto text-right">
                </div>
            </div>
        </div>
            <div class="container row">
                <% users.forEach(user=> { %>
                    <div class="job-box col-md-4 col-sm-6 col-lg-2 col-12 ">
                        <h5><a href="/admin/user/edit/<%= user._id %>">
                                <%= user.c_name %>
                            </a></h5>
                        <p><ion-icon name="briefcase-outline"></ion-icon>
                            <%= user.email %>
                        </p>

                        <% if (user.userType==='company' ) { %>
                            <!-- Content for users of 'someType' -->
                            <p><span class="badge badge-success">
                                    <%= user.userType %>
                                </span></p>
                            <% } else { %>
                                <!-- Content for users of other types -->
                                <p><span class="badge badge-primary">
                                        <%= user.userType %>
                                    </span></p>
                                <% } %>
                    </div>
                    <% }); %>
            </div>
        </div>
        <%- include('../partials/javascript') %>
</body>

</html>