<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit School</title>
    <%- include('../partials/css') %>
</head>
<body>
    <!-- Include the left navigation -->
    <%- include('../partials/adminNavbar') %>
    
    <div class="container mt-4">
        <div class="mt-3 mb-3">                        
            <h3>Edit a School</h3>            
        </div>
        
        <!-- Form to Add a New School -->
        <form action="/admin/schools/edit/<%= school._id %>" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">School Name</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= school.name %>" required>
            </div>
            <div class="mb-3">
                <label for="domain" class="form-label">School Domain</label>
                <input type="text" class="form-control" id="domain" name="domain" value="<%= school.domain %>" required>
            </div>
            <div class="mb-3">
                <label for="contact" class="form-label">School Email</label>
                <input type="email" class="form-control" id="contact" name="contact" value="<%= school.contact %>" required>
            </div>
            <% if (school.subscriptionStatus === 'pending') { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Stripe Payment Link</h5>
                        <div class="input-group mb-3">
                            <input type="text" id="stripeLinkInput" value="http://localhost:3001/admin/schools/payment/<%= school._id %>" class="form-control" readonly>
                            <span class="input-group-text" id="copy-btn" style="cursor: pointer;">Copy</span>
                        </div>
                    </div>
                </div>
            <% } %>
            <button type="submit" class="btn btn-primary">Update School</button>
        </form>
    </div>
    
    <%- include('../partials/javascript') %>
    <script>
        document.getElementById("copy-btn").addEventListener("click", (e)=>{
            // Get the input field
            const inputField = document.getElementById('stripeLinkInput');

            // Select the text in the input field
            inputField.select();

            // Copy the selected text
            document.execCommand('copy');

            // (Optional) Alert the copied text
            alert('Copied the text: ' + inputField.value);
        })
    </script>
</body>
</html>
